CompileFlags:
  CompilationDatabase: "build"

Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None

---

If:
  PathMatch: include/allo/bump.h
CompileFlags:
  Add: [-DALLO_BUMP_IMPLEMENTATION]

---

If:
  PathMatch: include/allo/pool.h
CompileFlags:
  Add: [-DALLO_POOL_IMPLEMENTATION]

